@{
  ViewBag.Title = "Home";
}

<div class="splashBackground1">
  <div class="splashTellytLogo"></div>
  <div class="timeOnEarth">Your Time on Earth</div>

  <div class="splashbackground1buttons">
    <div class="row">
      <div class="col-12">
        <div class="searchpeoplebutton">
          <span class="searchpeopletext">Search for People</span>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <div class="startinterviewbutton">
          <span class="home1buttontext">Start Your Life Interview</span>
        </div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-1">
        <div class="signupbutton">
          <span class="home1buttontext">Signup</span>
        </div>
      </div>
      <div class="col-12 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-1">
        <div class="loginbutton">
          <span class="home1buttontext">Login</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="splashBackground2">
  <div class="row">
    <div class="col-12 col-sm-5"></div>
    <div class="col-12 col-sm-6">
      <div class="row pt-5 justify-content-center splashTextBold">
        The Greatest Story Ever Told...
      </div>
      <div class="row pt-4 justify-content-center splashTextBold">
        Yours.
      </div>
      <div class="row pt-5 justify-content-center splashText">
        Imagine searching a genealogical media library and discovering that your great grandparents left you a series of video interviews talking about life and love, friendships and family, good times and hardships, and everything in between.
      </div>
      <div class="row pt-4 justify-content-center splashText">
        Wouldn’t a library like this be priceless to you?
      </div>
      <div class="row pt-4 justify-content-center splashText">
        Tellyt is that online, genealogical media library dedicated to preserving the stories of people’s lives on Earth.  What makes Tellyt so special is that it includes a self-administered video interviewing system to capture these stories.  With dozens of topics and hundreds of questions to choose from, Tellyt makes it easy for you to tell your story.
      </div>
      <div class="row pt-4 justify-content-center splashText">
        This is your chance to preserve your memories for the enjoyment of your family and friends hundreds of years from today
      </div>
      <div class="row pt-4 justify-content-center">

        <div class="col-12">
          <div class="whiteboxButton container">
            <div class="splashText whiteboxText">
              See More
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-1">
    </div>
  </div>
</div>

<div class="splashBackground3">
  <div class="col-12">
    <div class="row pt-5 justify-content-center splashTextBold">
      The Greatest Story Ever Told...
    </div>
    <div class="row pt-4 justify-content-center splashTextBold">
      Yours.
    </div>
    <div class="row pt-5 justify-content-center splashText">
      Imagine searching a genealogical media library and discovering that your great grandparents left you a series of video interviews talking about life and love, friendships and family, good times and hardships, and everything in between.
    </div>
    <div class="row pt-4 justify-content-center splashText">
      Wouldn’t a library like this be priceless to you?
    </div>
    <div class="row pt-4 justify-content-center splashText">
      Tellyt is that online, genealogical media library dedicated to preserving the stories of people’s lives on Earth.  What makes Tellyt so special is that it includes a self-administered video interviewing system to capture these stories.  With dozens of topics and hundreds of questions to choose from, Tellyt makes it easy for you to tell your story.
    </div>
    <div class="row pt-4 justify-content-center splashText">
      This is your chance to preserve your memories for the enjoyment of your family and friends hundreds of years from today.
    </div>
    <div class="row pt-4 justify-content-center">
      <div class="col-12">
        <div class="whiteboxButton container">
          <div class="splashText whiteboxText">
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="splashBackgroundInterview">
  <div class="row">
    <div class="col-12 col-sm-5"></div>
    <div class="col-12 col-sm-6">
      <div class="row pt-5">
      </div>
      <div class="row pt-5 justify-content-center splashTextBold">
        The Tellyt Interview
      </div>
      <div class="row pt-5 justify-content-center splashText">
        With hundreds of questions for you to choose from in over a dozen of languages, you can tell your story the way that you want it to be told.  All of your answers are captured in HD Video, and you can add photos and documents to further enhance you viewer’s experience.  Edit, redo, or submit your responses as often as you like.  This is your story and you know how to tell it best.
      </div>
      <div class="row pt-5 justify-content-center">

        <div class="col-12">
          <div class="blackboxButton container">
            <div class="splashText blackboxText">
              See More
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-1">
    </div>
  </div>
</div>

<div class="splashBackground4">
  <div class="col-12">
    <div class="row pt-5 justify-content-center splashTextBold">
      The Tellyt Interview
    </div>
    <div class="row pt-5 justify-content-center splashText">
      With hundreds of questions for you to choose from in over a dozen of languages, you can tell your story the way that you want it to be told.  All of your answers are captured in HD Video, and you can add photos and documents to further enhance you viewer’s experience.  Edit, redo, or submit your responses as often as you like.  This is your story and you know how to tell it best.
    </div>
    <div class="row pt-5 justify-content-center">

      <div class="col-12">
        <div class="blackboxButton container">
          <div class="splashText blackboxText">
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="splashBackgroundTribute">

  <div class="row vertical-row">
    <div class="col-12 col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="row pt-5 justify-content-center splashTextBold">
        The Tellyt Tribute
      </div>
      <div class="row pt-5 justify-content-center splashText">
        Create a Tribute for a family member or friend that is no longer with us.
      </div>
      <div class="row pt-5 justify-content-center splashText">
        A Tellyt account can be set up as a tribute to anyone. Once set up, many contributors can be invited to come in and be interviewed on their memories of that person. They can also upload and narrate photos, documents, and videos which pertain to that person’s legacy.
      </div>
      <div class="row pt-5 justify-content-center">

        <div class="col-12">
          <div class="whiteboxButton container">
            <div class="splashText whiteboxText">
              See More
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 tellyt_tribute_demo_image">
    </div>
  </div>
</div>

<div class="splashBackground5">
  <div class="col-12">
    <div class="row pt-5 justify-content-center splashTextBold">
      The Tellyt Tribute
    </div>
    <div class="row pt-5 justify-content-center splashText">
      Create a Tribute for a family member or friend that is no longer with us.
    </div>
    <div class="row pt-5 justify-content-center splashText">
      A Tellyt account can be set up as a tribute to anyone.  Once set up, many contributors can be invited to come in and be interviewed on their memories of that person.  They can also upload and narrate photos, documents, and videos which pertain to that person’s legacy.
    </div>
    <div class="row pt-5 justify-content-center">

      <div class="col-12">
        <div class="whiteboxButton container">
          <div class="splashText whiteboxText">
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="splashBackgroundChild">

  <div class="row vertical-row">
    <div class="col-12 col-sm-6 tellyt_child_story_image">
    </div>
    <div class="col-12 col-sm-1"></div>
    <div class="col-12 col-sm-4">
      <div class="row pt-5 justify-content-center splashTextBold">
        Tell your child’s story from their birth until they can Tell it themselves..
      </div>
      <div class="row pt-5 justify-content-center splashText">
        The Ultimate Digital Diary.  With Tellyt you can start an account for your new born, document their journey, post videos, narrate photos and answer video interviews of the entire experience.  Over time they can take over the account and continue telling their story in the life interviews.
      </div>
      <div class="row pt-5 justify-content-center">

        <div class="col-12">
          <div class="blackboxButton container">
            <div class="splashText blackboxText">
              See More
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-1"></div>
  </div>
</div>

<div class="splashBackground6">
  <div class="col-12">
    <div class="row pt-5 justify-content-center splashTextBold">
      Tell your child’s story from their birth until they can Tell it themselves..
    </div>
    <div class="row pt-5 justify-content-center splashText">
      The Ultimate Digital Diary.  With Tellyt you can start an account for your new born, document their journey, post videos, narrate photos and answer video interviews of the entire experience.  Over time they can take over the account and continue telling their story in the life interviews.
    </div>
    <div class="row pt-5 justify-content-center">

      <div class="col-12">
        <div class="blackboxButton container">
          <div class="splashText blackboxText">
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="splashBackgroundMobile">

  <div class="row vertical-row">
    <div class="col-12 col-sm-1"></div>
    <div class="col-12 col-sm-5">
      <div class="row pt-5 justify-content-center splashText">
        Have a loved one who doesn’t use the computer?
      </div>
      <div class="row pt-5 justify-content-center splashTextBold">
        Tellyt Mobile
      </div>
      <div class="row pt-5 justify-content-center splashText">
        Tellyt Mobile turns you into a professional interviewer, posing the question for you to ask, right from your cell phone.  Simply login through your loved one’s Tellyt Account, and start interviewing them!  We’ll provide the questions, you provide the voice.  Once submitted, all of your interviews will be uploaded directly into the user account securely.
      </div>
      <div class="row pt-5 justify-content-center">

        <div class="col-12">
          <div class="whiteboxButton container">
            <div class="splashText whiteboxText">
              See More
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 tellyt_mobile_image">
    </div>
  </div>
</div>

<div class="splashBackground7">
  <div class="col-12">
    <div class="row pt-5 justify-content-center splashTextBold">
      Tellyt Mobile
    </div>
    <div class="row pt-5 justify-content-center splashText">
      Tellyt Mobile turns you into a professional interviewer, posing the question for you to ask, right from your cell phone.  Simply login through your loved one’s Tellyt Account, and start interviewing them!  We’ll provide the questions, you provide the voice.  Once submitted, all of your interviews will be uploaded directly into the user account securely.
    </div>
    <div class="row pt-5 justify-content-center">

      <div class="col-12">
        <div class="blackboxButton container">
          <div class="splashText blackboxText">
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







@section Scripts
  {
  <script>

    $("#btnJoinEmail").click(function () {
        $("#createAccountRow").show();
        $("#signupFooter").show();
    });

    $("#btnSignIn").click(function () {
        ClearValidation();
        //Just redirect to the interview page, which will force them to log in
        var nextUrl = '@Url.Action("Index", "Dashboard")';
        window.location.href = nextUrl;
        return;

    });

    $("#btnJoin").click(function () {
        ClearValidation();
        $("#createAccountRow").show();
        $("#signupFooter").show();

    });

    $("#btnCancel").click(function () {
        $('#signupModal').modal('hide');
    });

    $("#btnCreateAccountEmail").click(function () {
        $("#loadingSignUp").show();
        if (ValidateJoinFields()) {
            ProcessNewAccount();
        }
        $("#loadingSignUp").hide();
    });

    function ResetSignUpModal() {
        $("#firstName").val("");
        $("#lastName").val("");
        $("#emailAddress").val("");
        $("#emailAddress2").val("");
        $("#password").val("");
        $("#createAccountRow").show();
        $("#signupFooter").show();
        $("#loadingSignUp").hide();
    }

    async function ProcessNewAccount() {
        const postNewAccountData = {
            firstName: $("#firstName").val(), lastName: $("#lastName").val(), email: $("#emailAddress").val(), password: $("#password").val()
        };
        const postNewAccountUrl = "@Url.Content("~/Account/CreateUserAccount")";
        const rawNewAccountResponse = await fetch(postNewAccountUrl, {
            referrerPolicy: 'origin',
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(postNewAccountData)
        });
        const returnNewAccountData = await rawNewAccountResponse.json();
        if (!returnNewAccountData.IsValid) {
            $("#errorMessage").html(returnUserData.Error);
            $("#errorRow").show();
        }
        else {
            var nextUrl = '@Url.Action("Index", "Dashboard")';
            window.location.href = nextUrl;
        }
    }

    async function ClearValidation() {
        removeTextBoxError($("#firstName"));
        removeTextBoxError($("#lastName"));
        removeTextBoxError($("#emailAddress"));
        removeTextBoxError($("#emailAddress2"));
        removeTextBoxError($("#password"));
    }

    function ValidateJoinFields() {
        ClearValidation();
        if ($("#firstName").val().length == 0) {
            raiseTextBoxError($("#firstName"));
            return false;
        }
        if ($("#lastName").val().length == 0) {
            raiseTextBoxError($("#lastName"));
            return false;
        }
        if ($("#emailAddress").val().length == 0) {
            raiseTextBoxError($("#emailAddress"));
            return false;
        }
        if ($("#emailAddress2").val().length == 0) {
            raiseTextBoxError($("#emailAddress2"));
            return false;
        }
        if ($("#password").val().length == 0) {
            raiseTextBoxError($("#password"));
            return false;
        }
        if ($("#emailAddress").val() != $("#emailAddress2").val()) {
            raiseTextBoxErrorWithMessage($("#emailAddress2"), "Your 2 email addresses must match.");
        }
        if ($("#password").val().length < 8) {
            raiseTextBoxErrorWithMessage($("#password"), "Your password must be 8 characters in length.");
            return false;
        }
        return true;
    }

    $(function () {
        $("#divHeader").hide();

        $(".signupbutton").click(function () {
            ResetSignUpModal();
            $('#signupModal').modal('show');
          });

        $(".loginbutton").click(function () {
          ResetLoginModal();
            const loginModal = bootstrap.Modal.getOrCreateInstance($('#loginModal'));
            loginModal.show();
        });

        $(".startinterviewbutton").click(function () {
            var signupUrl = '@Url.Content("~/Sales")';
            window.location.href = signupUrl;
        });

    });

    $(document).ready(function () {
        $('#checkPasswordModal').modal('hide');
        //if ($("#isSignedIn").val() == "True") {
        //  $("#divSidebar").hide();
        //  $("#divShowSide").show();
        //  $("#logoFlame").show();
        //  $('.showside').click(function () {
        //    if ($("#divSidebar").is(":visible")) {
        //      $("#divSidebar").show();
        //    } else {
        //      $("#divSidebar").hide();
        //    }
        //  });
        //  $('.earthtext').delay(500).fadeTo(1500, 1);
        //} else {
        //  DeactivateMenuOptions();
        //  $("#divSidebar").hide();
        //  $("#logoFlame").hide();
        //  $('.earthtext').delay(500).fadeTo(1000, 1);
        //}
    });



  </script>
}
